.advantages {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.advantages__bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: url("../img/phones.png") right -55% bottom no-repeat;
  background-size: 65% auto;
}

.advantages__heading {
  position: relative;
  padding-top: 20px;
  margin-bottom: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #0F087D;
  }
}

.advantages__list {
  @include list;
  padding-bottom: 24px;
}

.advantages__item {
  position: relative;
  padding-left: 90px;

  p {
    opacity: .66;
  }
}

.advantages__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 52px;
  }
}

@media (max-width: 767px) {
  .advantages__bg {
    background-position: right -100% bottom;
  }

  .advantages__item {
    padding-left: 64px;
  }

  .advantages__icon {
    width: 56px;

    img {
      max-width: 36px;
    }
  }
}
