.advantages {
  background: url('../img/phones.png') right -70% bottom no-repeat;
  background-size: 70% auto;
}

.advantages__container {
  padding-top: 15%;
  padding-bottom: 7%;
}

.advantages__heading {
  position: relative;
  padding-top: 20px;
  margin-bottom: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #0F087D;
  }
}

.advantages__list {
  @include list;
  padding-bottom: 24px;
  margin-bottom: 1%;
}

.advantages__item {
  position: relative;
  padding-left: 90px;

  p {
    opacity: .66;
  }
}

.advantages__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 52px;
  }
}
