.benefits {
  min-height: 100vh;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  background-color: #F0F0F5;
}

.benefits__heading {
  padding-top: 40px;
  margin-bottom: 26px;
}

.benefits__description {
  margin: 0;
  margin-bottom: 10%;
}

.benefits__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: center;

  h2,
  h3,
  h4 {
    font-size: 28px;
    font-weight: 900;
  }

  p {
    opacity: .66;
  }
}

@media (max-width: 767px) {
  .benefits__item {
    margin-bottom: 32px;

    h3 {
      margin: 5px 0 10px;
    }

    p {
      margin: 5px 0;
    }
  }
}
