.footer {
  padding: 32px 0 28px;
  color: #fff;
  background-color: #08022B;
}

.footer__widgets-list {
  @include list;
  display: flex;
  padding: 15px 0 30px;
  justify-content: space-between;
  border-top: 1px solid #706F89;
  margin-bottom: 4%;
}

.footer__widgets-item {
  padding: 15px;
}

.footer__widget-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer__menu-list {
  @include list;

  li {
    padding: 3px 0;
  }

  a {
    font-size: 18px;
    color: inherit;
    opacity: .7;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {

  img {
    max-width: 124px;
  }

  &:hover,
  &:focus {
    opacity: .8;
  }
}

.footer__copyright {
  padding: 0 10px;
  color: rgba(255, 255, 255, .3);
}

.footer__solial-list {
  @include list;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__solial-item {
  padding: 0 8px;

  img {
    transition: opacity .1s;
  }

  a:hover img,
  a:focus img {
    opacity: .8;
  }
}

@media (max-width: 1080px) {
  .footer__widgets-list {
    display: block;
    text-align: center;
  }

  .footer__widgets-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 767px) {
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }

  .footer__copyright {
    margin-top: 20px;
    order: 1;
  }

  .footer__solial-list {
    margin-top: 30px;
  }
}
