@keyframes pulsate {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes icon-pulsate-1 {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.05) translate(-10%, -10%); }
}

@keyframes icon-pulsate-2 {
    0% { transform: scale(1) translate(0, -50%); }
    100% { transform: scale(1.05) translate(-10%, -50%); }
}

@keyframes icon-pulsate-3 {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.05) translate(-10%, 10%); }
}

@keyframes icon-pulsate-4 {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.05) translate(10%, -10%); }
}

@keyframes icon-pulsate-5 {
    0% { transform: scale(1) translate(0, -50%); }
    100% { transform: scale(1.05) translate(10%, -50%); }
}

@keyframes icon-pulsate-6 {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.05) translate(10%, 10%); }
}


.hero {
  position: relative;
  min-height: 100vh;
  // padding-top: 17%;
  // padding-bottom: 11%;
  color: #fff;
  background-color: #06026C;
  background-image: linear-gradient( -90deg, #381BD6, #06026C);
}

.hero__container {
  position: relative;
  z-index: 4;
}

.hero__heading {
  margin-bottom: 24px;
}

.hero__button {
  margin-bottom: 10px;

  &--white {
    margin-top: 14px;
  }
}

.hero__phone-wrapper {
  position: absolute;
  bottom: 5%;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vw;

  & > img {
  max-width: 42%;
  position: relative;
  z-index: 1;
  }
}

.hero__phone-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .07);
  will-change: transform;
  animation: pulsate 2s ease-in-out infinite alternate;

  &::before {
    content: '';
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .07);
    will-change: transform;
    animation: pulsate 2s ease-in-out infinite alternate;
    animation-delay: -0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 22%;
    left: 22%;
    width: 56%;
    height: 56%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .07);
    will-change: transform;
    animation: pulsate 2s ease-in-out infinite alternate;
    animation-delay: -0.6s;
  }
}

.hero__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 32px;

  img {
    max-width: 80px;
  }

  &--orange {
    top: 20%;
    left: 10%;
    background-color: #F6941E;
    animation: icon-pulsate-1 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }

  &--pink {
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    background-color: #D7569C;
    animation: icon-pulsate-2 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }

  &--turquoise {
    top: auto;
    bottom: 20%;
    left: 10%;
    background-color: #74BDB0;
    animation: icon-pulsate-3 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }

  &--green {
    top: 20%;
    left: auto;
    right: 10%;
    background-color: #74B65F;
    animation: icon-pulsate-4 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }

  &--violet {
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 3%;
    background-color: #6558A0;
    animation: icon-pulsate-5 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }

  &--azure {
    top: auto;
    bottom: 20%;
    left: auto;
    right: 10%;
    background-color: #3EB5F1;
    animation: icon-pulsate-6 2s ease-in-out infinite alternate;
    animation-delay: 0.3s;
  }
}

@media (max-width: 1400px) {
  .hero__icon {
    width: 64px;
    height: 64px;
    border-radius: 20px;

    img {
      max-width: 60%;
    }
  }

  .hero__heading {
    padding-top: 50px;
  }

  .hero__phone-wrapper {
    bottom: auto;
    top: 124px;
  }
}

@media (max-width: 767px) {
  .hero {
    // padding-top: 110px;
    overflow: hidden;
  }

  .hero__heading {
    padding-top: 100px;
    margin-bottom: 8px;
  }

  .hero__button {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .hero__phone-wrapper {
    bottom: -12vw;
    top: auto;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 90vw;
  }

  .hero__icon {
    width: 44px;
    height: 44px;
    border-radius: 16px;
  }

  .hero .fp-tableCell {
    vertical-align: top;
  }
}

@media (max-width: 320px) {
  .hero__phone-wrapper {
    width: 65vw;
    height: 65vw;
  }

  .hero__icon {
    width: 35px;
    height: 35px;
    border-radius: 16px;
  }
}
